@{
    ViewData["Title"] = "Patient Page";
}

@model PatientPortal.Models.Patient
@{
}

<div class="text-center">
    <h1>
    Welcome To Patient Portal.
    </h1>
</div>

 <div class="container">
    <table class="table table hover">
        <thead>
        <tr>
            <th>Frist Name</th>
            <th>Last Name </th>
            <th>UUID</th>
        </tr>
        </thead>

    <tbody>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.uuid</td>
        </tr>

    </tbody>
     
     </table>
 </div>

